
#calc {
  
  width: 17%;
  background-color: black;
  margin: 0 auto;
  height: 500px;
}

#display {
  padding-top:5px;
  height: 15px;
  width:90%;
  margin:0 auto;
  background-color:black;
  text-align: right;
  color:white;
  margin-bottom:.5em
}
.clear {
  width: 47%;
  background-color: #5E446D;
  color:white;
  padding-top:10px;
  height:30px;
  text-align: center;
  border-style:solid;
  border-color: black;
  border-width: 1px;

}
.zero {
  width: 47%;
  background-color: #538450;
  color:white;
  padding-top:10px;
  height:30px;
  text-align: center;
  border-style:solid;
  border-color: black;
  border-width: 1px;

}
.buttonGroup{
  margin: 0 auto;
  width:80%;
  display:flex;
}

#lastRow{
  display:flex;
  position: relative;
  
}
.div {
  width: 22.8%;
  background-color: #538450;
  color:white;
  padding-top:10px;
  height:30px;
  text-align: center;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  
}

.eq {
  width: 18%;
  background-color: #46536D;
  color:white;
  padding-top:10px;
  height:72px;
  text-align: center;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  position:absolute;
  left: 153px;
  top: -42px;
}